<header class="header">
  <div class="container">
    <div class="left-side">
      <img class="brand-logo" src="images/image-2.png" alt="Abu Tech Logo">
      <a class="brand-text" [routerLink]="['/login']">ABU TECH</a>
      <nav class="desktop-nav">
        <a class="nav-link" [routerLink]="['/courses']">Kurslar</a>
      </nav>
    </div>
    <div class="right-side">
      <nav class="desktop-nav">
        <a class="nav-link" [routerLink]="['/graduates']">Bitiruvchilar</a>
        <a class="nav-link" [routerLink]="['/login']">Online ta'lim</a>
        <a class="nav-link" href="https://t.me/Otabek_Writing" target="_blank">Blog</a>
      </nav>
      <a href="tel:+998910562712" class="phone-number">
        <i class="fas fa-phone-alt"></i>
        <span>+998 91 056 27 12</span>
      </a>
      <button class="mobile-menu-button" (click)="toggleMenu()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>

  <div class="mobile-menu" [class.active]="isMenuOpen">
    <a class="mobile-nav-link" [routerLink]="['/courses']" (click)="toggleMenu()">Kurslar</a>
    <a class="mobile-nav-link" [routerLink]="['/graduates']" (click)="toggleMenu()">Bitiruvchilar</a>
    <a class="mobile-nav-link" [routerLink]="['/video']" (click)="toggleMenu()">Online ta'lim</a>
    <a class="mobile-nav-link" href="https://t.me/Otabek_Writing" target="_blank" (click)="toggleMenu()">Blog</a>
    <a class="mobile-phone" href="tel:+998910562712" (click)="toggleMenu()">
      <i class="fas fa-phone-alt"></i>
      +998 91 056 27 12
    </a>
  </div>
</header>